.container{
    width: 970px;
    background-color: #1b335d;
    padding: 10px;
}

.header{
    background-color: #cf3036;
    vertical-align: top;
    border-radius: 10px;
    padding: 10px;
}
.header h1{
    color: #c2d5ec;
} 
.nav-bar{
    width: 180px;
    background-color: #297d8c;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    
} 
.mainContent{
    width: 720px;
    background-color: black;
    border-radius: 10px;
    color: #c2d6ec;
    display: inline-block;
}
a{
    color: #c2d6ec;
}
ul{
    color: #c2d6ec;
}
.footer{
    background-color: #297d8c;
    border-radius: 10px;
}